# Файлы, скомпилированные / оптимизированные / DLL файлы
__pycache__/                  # Папка с скомпилированными байт-кодами Python
*.py[cod]                     # Скомпилированные файлы Python (например, .pyc, .pyo, .pyd)
*$py.class                     # Файлы Java, сгенерированные при сборке Python-кода

# C расширения
*.so                           # Файлы с расширением .so (обычно C расширения для Python)

# Распределение / упаковка
.Python                        # Файл Python для настройки виртуальной среды
build/                         # Папка для сборки
develop-eggs/                  # Папка для development-eggs
dist/                          # Папка для выходных данных, например, архивы дистрибутива
downloads/                     # Папка для скачанных файлов
eggs/                          # Папка для egg-файлов
.eggs/                         # Папка для egg-файлов
lib/                           # Папка для библиотек
lib64/                         # Папка для 64-битных библиотек
parts/                         # Папка для частей сборки
sdist/                         # Папка для исходного дистрибутива
var/                           # Папка для переменных данных
wheels/                        # Папка для сгенерированных файлов wheel
pip-wheel-metadata/            # Папка с мета-данными для pip-wheel
share/python-wheels/           # Папка для распределения Python-колес
*.egg-info/                    # Информация о пакете Egg
.installed.cfg                 # Конфигурационный файл установки
*.egg                          # Файлы с расширением .egg
MANIFEST                       # Манифест для пакетов

# PyInstaller
*.manifest                     # Манифесты для PyInstaller
*.spec                         # Спецификации для PyInstaller

# Логи установщика
pip-log.txt                    # Логи установки pip
pip-delete-this-directory.txt   # Временные файлы pip

# Отчеты тестов / покрытия
htmlcov/                       # Папка с отчетами покрытия в формате HTML
.tox/                          # Папка для тестирования через tox
.nox/                          # Папка для тестов в nox
.coverage                      # Файл с данными покрытия
.coverage.*                    # Файлы с данными покрытия с различными расширениями
.cache                         # Кэш для тестов
nosetests.xml                  # XML-отчеты для nose
coverage.xml                   # XML-отчеты для покрытия
*.cover                        # Файлы покрытия
*.py,cover                     # Файлы покрытия для Python
.hypothesis/                   # Папка для данных гипотез
.pytest_cache/                 # Кэш pytest

# Переводы
*.mo                           # Файлы скомпилированных переводов
*.pot                          # Шаблоны переводов

# Django файлы:
*.log                          # Лог-файлы Django
local_settings.py              # Локальные настройки Django
db.sqlite3                     # Файл базы данных SQLite
db.sqlite3-journal             # Журнал базы данных SQLite

# Flask файлы:
instance/                      # Папка для инстансов Flask-приложений
.webassets-cache               # Кэш для веб-активов Flask

# Scrapy файлы:
.scrapy                        # Папка для Scrapy-проектов

# Документация Sphinx
docs/_build/                   # Папка для собранной документации Sphinx

# PyBuilder
target/                        # Папка для целей сборки PyBuilder

# Jupyter Notebook
.ipynb_checkpoints             # Папка для контрольных точек Jupyter

# IPython
profile_default/               # Профили для IPython
ipython_config.py              # Конфигурация IPython

# pyenv
.python-version                # Файл с версией Python для pyenv

# pipenv
# Включить Pipfile.lock в Git, если нет платформозависимых зависимостей
#Pipfile.lock

# PEP 582; используется в pyflow
__pypackages__/                # Папка для пакетов, используемая в PEP 582

# Файлы Celery
celerybeat-schedule            # Планировщик Celery
celerybeat.pid                 # PID процесс Celery

# Файлы SageMath
*.sage.py                      # Файлы SageMath

# Среды
.env                           # Файл для переменных окружения
.venv                          # Папка для виртуальных окружений
env/                           # Папка для окружений
venv/                          # Папка для виртуальных окружений
ENV/                           # Папка для окружений
env.bak/                       # Резервные папки для окружений
venv.bak/                      # Резервные папки для окружений

# Настройки проекта Spyder
.spyderproject                 # Настройки проекта Spyder
.spyproject                    # Настройки проекта Spyder

# Настройки проекта Rope
.ropeproject                   # Настройки проекта Rope

# Документация mkdocs
/site                           # Папка для сайта, сгенерированного mkdocs

# mypy
.mypy_cache/                   # Кэш mypy
.dmypy.json                    # Конфигурация mypy
dmypy.json                     # Конфигурация mypy

# Pyre типизация
.pyre/                         # Папка для Pyre

# Папки, создаваемые средой разработки
.idea                          # Настройки для IDE JetBrains (например, PyCharm)
.DS_Store                      # Файл macOS, сохраняющий метаданные
.AppleDouble                   # Файл для обмена данными с macOS
.LSOverride                    # Файл для обмена данными с macOS

*.sublime-project              # Настройки проекта Sublime Text
*.sublime-workspace            # Рабочее пространство Sublime Text

.vscode/                       # Папка настроек для VSCode
*.code-workspace               # Рабочее пространство VSCode

# Локальная история для Visual Studio Code
.history/                      # Папка для истории файлов VSCode

# Кэш mypy
.mypy_cache                    # Кэш mypy

# Папки со статикой и медиа
media/                         # Папка для медиафайлов
sent_emails/                   # Папка для отправленных писем

# Игнорирование папок контрактов и ваучеров
contracts/                     # Папка для контрактов
vauchers/                      # Папка для ваучеров
