{% extends 'base.html' %}

{% block title %}Bid detail{% endblock title %}

{% block meta_description %}List of cars{% endblock meta_description %}

{% block meta_keywords %}car list, shop, ecommerce{% endblock meta_keywords %}

{% block content %}
<h1 class="mt-4 mb-4">{{ application.car }}</h1>
    <table class="table table-striped table-bordered custom-table">
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Автомобиль</th>
                <th>Место доставки</th>
                <th>Время доставки</th>
                <th>Место возврата</th>
                <th>Время возврата</th>
                <th>Клиент</th>
                <th>Описание</th>
                <th>Работник</th>
                <th>Ваучер</th>
                <th>Контракт</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ application.id }}</td>
                <td>{{ application.car.car_name }}</td>
                <td>{{ application.pickup_location }}</td>
                <td>{{ application.pickup_time }}</td>
                <td>{{ application.dropoff_location }}</td>
                <td>{{ application.dropoff_time }}</td>
                <td>{{ application.application_preparer }}</td>
                <td>{{ application.comment }}</td>
                <td>
                    {% if application.application_preparer %}
                      {{ application.application_preparer }}
                    {% else %}
                      {{ '' }}
                    {% endif %}
                  </td>
                <td><a href="{{ application.vaucher.url }}">Ваучер №{{ application.id }}</a></td>
                <td><a href="{{ application.contract.url }}">Договор №{{ application.id }}</a></td>
                <td><a href="{% url 'backend:application_edit' application.id %}" class="btn btn-primary">Изменить</a></td>
            </tr>
        </tbody>
    </table>

{% if car.image %}
    <div class="mt-4">
        <h2>Фото автомобиля</h2>
        <img src="{{ car.image.url }}" alt="{{ car.brand.name }} {{ car.model.name }}" class="img-fluid" width="400" height="400">
    </div>
{% else %}
    <div class="mt-4">
        <h2>Фото автомобиля</h2>
        <p>Нет доступного фото.</p>
    </div>
{% endif %}

{% if all_files %}
    <h2>Список файлов</h2>
    {% for file in all_files %}
        {% if file.files %}
            <p><a href="{{ file.files.url }}">{{ file.files }}</a></p>
            <form method="post" action="{% url 'backend:delete_file' file.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        {% endif %}
    {% endfor %}
{% else %}
    <p>Файлы отсутствуют.</p>
{% endif %}

{% comment %} <h2>Добавить новый файл</h2>
<form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Добавить</button>
</form> {% endcomment %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.2.1/tablesort.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        new Tablesort(document.getElementById('car-table'));
    });
</script>
{% endblock content %}
