{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
    {% if car %}
        Edit Car
    {% else %}
        Add Car
    {% endif %}
{% endblock title %}

{% block meta_description %}
    {% if car %}
        Edit the car details
    {% else %}
        Add a new car to the shop
    {% endif %}
{% endblock meta_description %}

{% block meta_keywords %}
    {% if car %}
        edit car, car details, shop
    {% else %}
        add car, new car, shop
    {% endif %}
{% endblock meta_keywords %}

{% block content %}
<h1 class="mt-4 mb-4">
    {% if car %}
        Edit Car
    {% else %}
        Add Car
    {% endif %}
</h1>
<form method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if car %}
<div class='delete_button mt-4'>
    <form method="post" action="{% url 'backend:car_remove' car.slug %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Удалить автомобиль</button>
    </form>
</div>
{% endif %}
{% endblock content %}
