.custom-table {
    width: 100%; /* Ширина таблицы */
    max-height: 100%; /* Максимальная высота таблицы */
    overflow-y: auto; /* Добавляет прокрутку, если содержимое превышает высоту */
    overflow-x: visible;
}

#content {
    transition: margin-left 0.3s; /* Transition for margin-left */
    padding: 20px;
}

.bold-header {
    font-weight: bold;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.busy {
    background-color: #ffcccc;
}
.btn {
	display: inline-block;	
	box-sizing: border-box;
	padding: 0 25px;
	outline: none;
	border: 1px solid #fff;
	border-radius: 50px;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	user-select: none;
	appearance: none;
	touch-action: manipulation;  
	vertical-align: sub;
	transition: box-shadow 0.2s;
}
.fake {
    margin-right: 30px;
}
.btn:focus-visible {
	border: 1px solid #4c51f9;
	outline: none;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #808080;
}
.btn:disabled {
	background-color: #eee;
	border-color: #eee;
	color: #444;
	cursor: not-allowed;
}
.container-buttons {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.center-absolutely {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.addfile{
    display: block;
    position: absolute;
    right: 600px;
    top: 470px;
}
.car_sort{
    margin-bottom: 15px;
}
.form-check {
    margin-bottom: 10px;
}
.form-control-indx {
    width: 20.5%;
    margin-bottom: 10px;
}
.pos_but {
    right: 100;
}
.form-check-input {
    width: 20px;
    height: 20px;
}
.form-check-label {
    font-size: 1em;
    margin-left: 10px;
    margin-top: 2.5px;
}
.clickable-div {
    cursor: pointer;
    padding: 10px;
    align-items: left;
    box-sizing: border-box;
}